<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>API Documentation - Movie Groove</title>
        <!-- Creates a valid URL for our stylesheet -->
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>
        <div id="wrapper">
            <h1><a href="/">Movie Groove</a> - API Documentation</h1>
			<p><em>Version 1</em></p>
            <p>The Movie Groove API is essentially a JSON version of the normal web UI. It uses a simple HTTP interface.</p>

            <h2 id="endpoint">Endpoint</h2>
            <p>Make HTTP GET requests to:</p>

            <pre><code>/api/v1/search</code></pre>

            <h2 id="searchformovieinfoandrelatedsongs">Search for movie summary and related tracks</h2>
            <p>Request parameters:</p>

            <ul>
                <li><code>movie</code>: movie title to search for.</li>
                <li><code>max_tracks</code> (optional): maximum number of tracks to return. Default is 5.</li>
            </ul>

            <p>Response:</p>

<pre><code>{
    "movie": ...,
    "tracks": ...,
    "num_tracks": ...
}
</code></pre>

            <h2 id="examplerequest">Example request</h2>

            <p>
				GET <code>/api/v1/search?q=love&amp;max_tracks=2</code>
				(<a href="/api/v1/search?q=love&max_tracks=2">try it</a>):
			</p>

<pre style="width:100%"><code>{
  "movie": {
    "actors": "Steve Carell, Ryan Gosling, Julianne Moore, Emma Stone", 
    "director": "Glenn Ficarra, John Requa", 
    "plot": "A middle-aged husband's life changes dramatically when his wife asks him for a divorce [...]", 
    "rating": "7.4", 
    "runtime": "118 min", 
    "title": "Crazy, Stupid, Love.", 
    "url": "http://www.imdb.com/title/tt1570728/", 
    "votes": "323,385", 
    "writer": "Dan Fogelman", 
    "year": "2011"
  }, 
  "num_tracks": 2, 
  "tracks": [
    {
      "album_name": "Crazy Stupid Love", 
      "album_year": "2014", 
      "artist": "Cheryl", 
      "artists": [
        "Cheryl", 
        "Tinie Tempah"
      ], 
      "href": "spotify:track:6jShUw2NqZxEXH60gVTHrV", 
      "name": "Crazy Stupid Love"
    }, 
    {
      "album_name": "Only Human", 
      "album_year": "2014", 
      "artist": "Cheryl", 
      "artists": [
        "Cheryl", 
        "Tinie Tempah"
      ], 
      "href": "spotify:track:5p5jXve0CXP3Za6xY2fylF", 
      "name": "Crazy Stupid Love"
    }
  ]
}
</code></pre>
        </div>
    </body>
</html>
